.hero {
  display: flex;
  flex-direction: row;
}
@media (max-width: 720px) {
  .hero {
    flex-direction: column;
  }
  .profile {
    text-align: center;
    margin: 15px 0;
  }
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}
.profile img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 30px;
}
.heading {
  color: var(--heading);
  font-size: 3rem;
  line-height: 2.4rem;
  letter-spacing: -0.04rem;
  margin: 10px 0;
}
.sub-heading {
  color: var(--sub-heading);
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: -0.04rem;
  margin: 10px 0;
}